/* MATUS */
.matus {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 12vw;
  letter-spacing: 0.7em;
  margin-left: 0.7em;

  color: #FA80A4;
  line-height: 50vw;

  text-align: center;
  
  -webkit-animation: letter-spacing 1.3s;
  animation: letter-spacing 1.3s;
}

@-webkit-keyframes letter-spacing {
  0%   { letter-spacing: 0em; margin-left: 0em;}
  100% { letter-spacing: 0.7em; margin-left: 0.7em;}
}
@keyframes letter-spacing {
  0%   { letter-spacing: 0em; margin-left: 0em;}
  100% { letter-spacing: 0.7em; margin-left: 0.7em;}
}

body {
  background: #2A2543;
}